<h1>hi</h1>
<br />
<img class="rounded w70px" src="<%= data.session.passport?.user.profileImageUrl  %> " alt="" />
<br />
<li class="warn alert"><%= data.session.passport?.user.userName %></li>
<li class="message alert">Views: <%= data.session.passport?.user._json.data[0].view_count %></li>
