<%- include('./template/_header.ejs'); %>
<div class="vertical_center">
  <center>
    <h1>hi</h1>
    <br>
    <p><%= some.session.id %></p>
  </center>
</div>
  <%- include('./template/_footer.ejs'); %>
</div>
