<% req.Data().plugin_buttons?.forEach(button => { const buttonName = button.charAt(0).toUpperCase() +
button.replace('.js', '').replace(/_/g, ' ').slice(1) %>
<a href="/<%= button.replace('.js', '') %>"><div class="plugin_button"><%= buttonName %></div></a>
<% }) %>
