<div class="plugin_button">Discord Online status</div>
<div class="plugin_button">Commands</div>
<div class="plugin_button">Points</div>
<div class="plugin_button">Ko-Fi</div>
<div class="plugin_button">Crypto</div>
